<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lzp.yw.com.medioplayer">
    <!-- 权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <application
        android:name=".model_application.baselayer.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        <!-- 基础activity //Android:theme="@android:style/Theme.NoTitleBar" @android:style/Theme.NoTitleBar.Fullscreen -->
        <activity
            android:name=".model_application.baselayer.BaseActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 配置服务器信息 activity -->
        <activity android:name=".model_application.viewlayer.ToolsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主界面 -->
        <activity android:name=".model_application.viewlayer.MainActivity" />
        <!-- 读取排期 广播 -->
        <receiver android:name=".model_application.schedule.ScheduleReadBroad" >
            <intent-filter>
                <action android:name="com.broad.schedule.read"/>
            </intent-filter>

        </receiver>


        <!--
        通讯服务 android:label="_medioplayerServer" android:process=":remote"
        冒号’:’这个前缀将把这个名字附加到你的包所运行的标准进程名字的后面作为新的进程名称 android:process=":remote_communication"  android:enabled="true"
            android:exported="true"
        -->
        <service
            android:name=".model_communication.CommunicationServer"
            android:process="lzp.yw.communticate" />
        <!-- 派发任务 服务 -->
        <service
            android:name=".model_command_.CommandPostServer"
            android:process=":remote" />
        <!-- 下载服务 -->
        <service
            android:name=".model_download.DownloadServer"
            android:process="lzp.yw.download"/>

        <!-- 拨叉sdcard 广播 -->
        <receiver android:name=".model_universal.SdcardBroad">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <data android:scheme="file"/>
            </intent-filter>
        </receiver>
    </application>




</manifest>