<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wos.play.rootdir">

    <!-- 权限 -->
    <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- 时区 -->
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 在SDCard中挂载和反挂载文件系统,系统权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 开机启动权限 -->

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACTION_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />

    <application
        android:name=".model_application.baselayer.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:sharedUserId="android.uid.system"
        android:supportsRtl="true">

        <!-- 基础activity //Android:theme="@android:style/Theme.NoTitleBar" @android:style/Theme.NoTitleBar.Fullscreen -->
        <!--<activity-->
        <!--android:name=".model_application.baselayer.BaseActivity"-->
        <!--android:launchMode="singleTask" />-->

        <!-- 配置服务器信息 activity -->
        <activity android:name=".model_application.viewlayer.ToolsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- UI 主界面 -->
        <activity
            android:name=".model_application.viewlayer.MainActivity"
            android:launchMode="singleTask" />

        <!-- 电子报显示 -->
        <activity
            android:name=".model_application.viewlayer.EpaperActivity"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <!-- 通讯服务 -->
        <service
            android:name=".model_communication.CommunicationServer"
            android:process="play.communticate" />
        <!-- 派发任务 服务 -->
        <service
            android:name=".model_command_.kernel.CommandPostServer"
            android:process="play.command" />
        <!-- 下载服务 -->
        <service
            android:name=".model_download.kernel.DownloadServer"
            android:process="play.download" />
        <!-- 守护进程助手 -->
        <service
            android:name=".model_monitor.soexcute.WatchServerHelp"
            android:exported="true"
            android:persistent="true"
            android:process="play.watchhelper" />
        <!-- 守护进程服务 -->
        <service
            android:name=".model_monitor.kernes.WatchServer"
            android:persistent="true"
            android:process="play.watch" />
        <!-- 更新app -->
        <service
            android:name=".model_update.UpdateServer"
            android:process="play.update" />
        <!-- 开机广播 -->
        <receiver android:name=".model_monitor.soexcute.SystemBroads">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- sdcard 广播 -->
        <receiver android:name=".model_monitor.broads.SdcardBroad">
            <action android:name="android.intent.action.MEDIA_MOUNTED" />
            <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

            <data android:scheme="file" />
        </receiver>


    </application>

</manifest>